.strip{
	background: red;
	height: 30px;
}

.mantra{
	letter-spacing: 2px;
	color: black;
	font-size: 22px;
	font-weight: 700;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	color: black;
	animation: chalechalo 20s linear infinite;
}

.mantra:hover{
	animation-play-state: paused;
}


@keyframes chalechalo {
	0% {
		transform: translateX(100%);
	}
	50% {
		transform: translateX(30%);
	}
	100% {
		transform: translateX(-40%);
	}
	
}
